<app-nav-bar *ngIf="!explore"></app-nav-bar>
<div class="about-container">
    <app-mapbox [exploreVar]="explore" class="map"></app-mapbox>
    <div *ngIf="explore" (click)="exploreMap()" class="exit-explore">
        <fa-icon [icon]="exitIcon"></fa-icon>
    </div>
    <div #contents *ngIf="!explore" class="about-contents">

        <div class="about-text">
            <h1>about me</h1>
            <h3>Developer, frontend engineer, designer, student</h3>
            <h6>Hi! My name is Ben and I am a senior at the University at Notre Dame. I will be graduating in the Spring
                of 2021 with a degree in Computer Science. At Notre Dame, I am involved in clubs and student leadership
                including the Student International Business Council, Club Lacrosse, and serving as Hall Vice President.
                For fun, I love to hang out with friends, play sports, and take pictures.
                I am from the northern suburbs of Chicago and will be moving to San Francisco next year to begin my work
                as an Associate Software Engineer at Veeva Systems. Enjoy my website!
            </h6>
            <div class="about-actions">
                <div class="about-socials">
                    <a [attr.href]="social.url" *ngFor="let social of socials">
                        <fa-icon [icon]="social.icon"></fa-icon>
                    </a>
                </div>
                <button class="btn btn-outline-dark" (click)="exploreMap()">Explore Map</button>
            </div>

        </div>
    </div>


</div>