.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.home-components{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}



.home-components button{
    margin-top: 20px;
    background-color: transparent;
    color: white;
    width: 200px;
}


.home-components button:hover{
    margin-top: 20px;
    background-color: dodgerblue;
    color: white;
    width: 200px;
}


.load-animation{
    -webkit-animation-name: load-in;
    -webkit-animation-duration: 3s;
    -moz-animation-name: load-in;
    -moz-animation-duration: 3s;
    -o-animation-name: load-in;
    -o-animation-duration: 3s;
    animation-name: load-in;
    animation-duration: 3s;
}

.next-animation{
    opacity: 0;
    -webkit-animation-name: load-in-2;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 9s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: load-in-2;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 9s;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: load-in-2;
    -o-animation-duration: 3s;
    -o-animation-delay: 9s;
    -o-animation-fill-mode: forwards;
    animation-name: load-in-2;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}


@-webkit-keyframes load-in{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes load-in{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes load-in{
    0% { opacity: 0; }
    100% {opacity: 1; }
}

@keyframes load-in{
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@-webkit-keyframes load-in-2{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes load-in-2{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes load-in-2{
    0% {opacity: 0; }
    100% {opacity: 1; }
}

@keyframes load-in-2{
    0% { opacity: 0; }
    100% { opacity: 1; }
}



   


 