<app-nav-bar></app-nav-bar>
<app-building></app-building>
<!--
<div class="projects-container">
    <div class="project-content">
        <div class="project-text">
            <h1>Projects</h1>
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</h6>
            <ul>
                <li><span>chattr:</span></li>
                <li><span>Irish GymSense:</span></li>
                <li><span>Irish GymSense:</span></li>
                <li><span>Irish GymSense:</span></li>
            </ul>
        </div>
        <div class="project-skills">
            <div *ngFor="let skill of skills; let idx = index" class="skill">
                <span class="badge badge-light">{{skill}}</span>
            </div>
        </div>
    </div>
</div>
<app-chattr></app-chattr>
<app-gymsense></app-gymsense>
-->